*{
    margin: 0;
    padding: 0;
    
}
.parent h1{
    margin-bottom: 35px;
    margin-top: 10px;
}

.parent{
    background-color:#1B3C53;
    border: none;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 100vh;
    color: #D2C1B6;
    flex-direction: column;
    

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.js-search{
    width: 250px;

}
.js-search,button{
    background-color: #D2C1B6;
    color: #456882;
    padding: 5px;
    border-radius: 10px;
    
}
.weather-card{
    background-color: #234C6A;
    color:#D2C1B6;
    padding: 10px;
    border: solid ;
    border-radius: 10px;
    line-height: 40px;
    align-items: center;
    display: none;
    margin-top: 10px;

}