*{
    margin: 0;
    padding: 0;
}
.parent{
    background-color:#1B3C53;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.js-search,button{
    background-color: #D2C1B6;
    color: #456882;
    text-align: center;
}
.weather-card{
    background-color: #234C6A;
    color:#D2C1B6;
    width: 300px;
    
}