*{
    margin: 0;
    padding: 0;
}
.parent{
    background-color: aqua;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;

}
.search input ,button{
    background-color: aquamarine;
    color:rgb(45, 123, 65);
}
.search{
    background-color: blueviolet;
    height: 100px;

}